body {
  background: #f5f6fa;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e1e2f;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #343454;
}

.content {
  width: 100%;
}